<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162253516844-aujdekqiprjs4qr27lc9dm1dav1pj7rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162253516844-aujdekqiprjs4qr27lc9dm1dav1pj7rv</string>
	<key>API_KEY</key>
	<string>AIzaSyCGJ57-SdTohTBZ9fnmV5BGR_Z3QFhBzgM</string>
	<key>GCM_SENDER_ID</key>
	<string>162253516844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.mikeschmidt.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-c4b37</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-c4b37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162253516844:ios:785dca543b89db94952189</string>
</dict>
</plist>